<a href="https://colab.research.google.com/github/Ana-AlonsoCanizares/Practicas_Individuales/blob/main/PI_parking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Importación de librerías a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
from numpy.core.function_base import linspace
from math import floor
from math import ceil
from numpy.ma.core import size

# Lectura de la base de datos
filename = 'ocupacion_parking.csv'
data = pd.read_csv(filename, sep = ',')


data['Mes'] = data.apply(lambda _: '', axis=1)

data = data.astype({'Fecha':'str'})

data['Mes'] = data['Fecha'].str[3:5]

data = data.dropna()
# Revisión de los datos
print(data.shape)
data.head(10)

(265, 13)

,Fecha,Dia,Horario,parking_0,parking_1,parking_2,parking_3,parking_4,parking_5,parking_6,parking_7,parking_subterraneo,Mes
0,12-09-22,L,9,0.0,100.0,100.0,100.0,60.0,50.0,90.0,50.0,0,09
1,12-09-22,L,9:30,0.0,100.0,100.0,100.0,60.0,50.0,90.0,50.0,0,09
2,12-09-22,L,10,0.0,100.0,100.0,100.0,60.0,50.0,90.0,50.0,0,09
3,12-09-22,L,14:00,0.0,80.0,80.0,80.0,50.0,50.0,90.0,50.0,0,09
4,12-09-22,L,15:00,0.0,50.0,50.0,50.0,50.0,50.0,80.0,50.0,0,09
5,12-09-22,L,16:00,0.0,50.0,50.0,50.0,50.0,50.0,80.0,50.0,0,09
6,13-09-22,M,9,0.0,90.0,80.0,50.0,50.0,90.0,90.0,80.0,0,09
7,13-09-22,M,9:30,0.0,100.0,100.0,100.0,70.0,90.0,90.0,100.0,0,09
8,13-09-22,M,10,20.0,100.0,100.0,100.0,95.0,100.0,90.0,100.0,0,09
9,13-09-22,M,14:00,50.0,100.0,100.0,100.0,90.0,90.0,90.0,100.0,0,09

In [19]:
df_ocupacion_d_h = data.groupby(['Dia', 'Horario']).mean().reset_index()
print(df_ocupacion_d_h)

df_ocupacion_m_d = data.groupby(['Mes', 'Dia']).mean().reset_index()
print(df_ocupacion_m_d)

df_ocupacion_d = data.groupby(['Dia']).mean().reset_index()
print(df_ocupacion_d)

   Dia Horario  parking_0   parking_1   parking_2   parking_3  parking_4  \
0    J      10  52.000000  100.000000  100.000000   98.000000  98.000000
1    J   14:00  56.666667   96.666667   95.555556   95.555556  91.111111
2    J   15:00  61.111111   94.444444   88.888889   84.444444  78.888889
3    J   16:00  67.000000   98.000000   96.000000   92.000000  90.000000
4    J       9   9.444444   97.777778   92.222222   63.333333  68.888889
5    J    9:30  22.222222  100.000000  100.000000   78.888889  85.555556
6    L      10  52.272727  100.000000  100.000000   95.454545  93.636364
7    L   14:00  52.000000   96.000000   90.000000   90.000000  84.000000
8    L   15:00  46.000000   88.000000   80.000000   76.000000  76.000000
9    L   16:00  57.272727   91.818182   89.545455   84.545455  86.363636
10   L       9  14.500000   87.000000   77.000000   46.000000  62.000000
11   L    9:30  35.000000   95.000000   92.000000   73.000000  80.000000
12   M      10  51.000000  100.000000  100.000000   95.000000  98.500000
13   M   14:00  63.750000   98.750000   98.750000  100.000000  96.250000
14   M   15:00  57.500000   95.000000   91.250000   92.500000  80.000000
15   M   16:00  57.777778   97.777778   95.555556   91.111111  90.000000
16   M       9   7.777778   96.666667   85.555556   45.555556  65.555556
17   M    9:30  19.444444  100.000000   98.888889   68.888889  85.555556
18   V      10  27.000000  100.000000  100.000000   75.000000  85.000000
19   V   14:00  31.111111   95.555556   90.000000   80.000000  80.000000
20   V   15:00  18.888889   86.666667   74.444444   52.222222  57.777778
21   V   16:00  22.000000   90.000000   67.000000   39.000000  48.000000
22   V       9   2.222222   87.777778   75.555556   37.222222  47.777778
23   V    9:30   7.777778   98.888889   94.444444   52.777778  65.555556
24   X      10  51.428571  100.000000  100.000000   97.142857  95.714286
25   X   14:00  56.666667   91.666667   91.666667   85.000000  78.333333
26   X   15:00  51.666667   95.000000   95.000000   80.000000  76.666667
27   X   16:00  48.571429   98.571429   94.285714   82.857143  81.428571
28   X       9   8.333333   91.666667   86.666667   55.000000  60.000000
29   X    9:30  20.000000  100.000000  100.000000   80.000000  80.000000

    parking_5  parking_6   parking_7  parking_subterraneo
0   99.000000  97.000000  100.000000             5.000000
1   91.111111  97.777778   90.000000             7.777778
2   87.777778  96.666667   92.222222             6.666667
3   96.000000  97.000000   99.000000             7.000000
4   70.000000  96.666667   78.888889             0.000000
5   82.222222  97.777778   94.444444             0.000000
6   89.090909  96.363636   93.636364             2.727273
7   84.000000  95.000000   85.000000             8.000000
8   79.000000  95.000000   83.000000             7.000000
9   87.272727  95.454545   90.909091             7.272727
10  67.000000  92.000000   69.000000             0.000000
11  79.000000  96.000000   85.000000             0.000000
12  99.000000  97.000000  100.000000             6.000000
13  96.250000  97.500000   97.500000            10.000000
14  87.500000  96.250000   86.250000             8.750000
15  91.111111  96.666667   96.666667             8.888889
16  75.555556  97.777778   83.333333             0.000000
17  87.777778  97.777778   96.666667             0.000000
18  90.000000  97.000000   99.000000             4.000000
19  83.333333  96.666667   82.222222             6.666667
20  66.666667  93.333333   67.777778             4.444444
21  56.000000  96.000000   86.000000             4.000000
22  57.777778  97.777778   72.222222             0.000000
23  72.222222  97.777778   88.888889             0.000000
24  95.714286  97.142857   98.571429             5.714286
25  75.000000  96.666667   73.333333            11.666667
26  73.333333  98.333333   78.333333            15.000000
27  80.000000  97.142857   84.285714            12.857143
28  60.000000  95.000000   76.666667             0.000000
29  76.666667  96.666667   91.666667             0.000000
   Mes Dia  parking_0   parking_1  parking_2  parking_3  parking_4  parking_5  \
0   01   L  58.333333   93.333333  88.333333  86.666667  80.000000  76.666667
1   01   M  50.000000   96.666667  95.000000  91.666667  91.666667  81.666667
2   02   J  32.083333   95.000000  92.500000  84.166667  81.666667  77.500000
3   02   L  43.333333   95.000000  83.333333  80.000000  76.666667  70.000000
4   02   M  33.333333   98.333333  93.333333  78.333333  78.333333  78.333333
5   02   V  13.333333   89.166667  79.166667  66.666667  57.500000  55.833333
6   02   X  30.000000   93.333333  91.666667  74.166667  74.166667  71.666667
7   09   J  32.142857   97.142857  92.857143  86.428571  83.571429  91.428571
8   09   L  16.071429   90.714286  87.500000  85.000000  76.428571  73.571429
9   09   M  27.142857   96.428571  95.714286  89.285714  84.642857  91.428571
10  09   V  13.571429   94.285714  82.142857  53.928571  71.428571  76.428571
11  09   X  26.250000   97.500000  96.250000  87.500000  90.000000  85.000000
12  10   J  46.944444  100.000000  98.333333  89.444444  89.444444  90.555556
13  10   L  48.166667   92.666667  88.333333  72.666667  82.333333  85.000000
14  10   M  44.523810   99.047619  95.714286  76.190476  87.619048  91.904762
15  10   V  25.277778   94.444444  86.666667  55.555556  65.555556  75.000000
16  10   X  48.333333   98.333333  97.500000  82.500000  78.333333  82.500000
17  11   J  71.250000   98.333333  97.500000  80.833333  86.666667  90.833333
18  11   L  66.666667   98.333333  95.000000  76.666667  86.666667  95.000000
19  11   M  71.666667  100.000000  93.333333  78.333333  86.666667  96.666667
20  11   V  18.750000   94.166667  85.000000  48.750000  60.000000  74.166667
21  11   X  61.666667   96.666667  93.333333  80.000000  76.666667  68.333333

     parking_6  parking_7  parking_subterraneo
0   100.000000  86.666667            23.333333
1   100.000000  95.000000            23.333333
2    98.333333  90.833333            20.833333
3    96.666667  83.333333            20.000000
4   100.000000  86.666667            25.000000
5    97.500000  76.666667            15.000000
6   100.000000  90.000000            24.166667
7    90.000000  92.142857             0.000000
8    88.571429  77.142857             0.000000
9    90.000000  94.285714             0.000000
10   90.000000  87.857143             0.000000
11   87.500000  75.000000             0.000000
12  100.000000  97.222222             0.000000
13   95.666667  86.000000             0.000000
14   99.523810  95.238095             0.000000
15   98.333333  90.555556             0.000000
16  100.000000  90.000000             0.000000
17  100.000000  88.333333             0.000000
18  100.000000  95.000000             0.000000
19  100.000000  91.666667             0.000000
20  100.000000  72.500000             0.000000
21   96.666667  73.333333             0.000000
  Dia  parking_0  parking_1  parking_2  parking_3  parking_4  parking_5  \
0   J  45.267857  97.857143  95.535714  85.714286  85.714286  88.035714
1   L  43.225806  93.064516  88.306452  77.903226  80.645161  81.129032
2   M  42.358491  98.113208  95.094340  81.886792  86.132075  89.622642
3   V  18.392857  93.214286  83.571429  56.071429  64.107143  71.071429
4   X  40.000000  96.315789  94.736842  80.526316  79.210526  77.368421

   parking_6  parking_7  parking_subterraneo
0  97.142857  92.678571             4.464286
1  95.000000  84.677419             4.193548
2  97.169811  93.584906             5.471698
3  96.428571  83.035714             3.214286
4  96.842105  84.210526             7.631579